body {
  font-family: sans-serif;
  text-align: center;
}

.resultados {
  margin-top: 10px;
  width: 300px;
}

input {
  height: 30px;
  border-radius: 5px;
}
input[type="button"] {
  height: 35px;
}
input::placeholder {
  padding-left: 10px;
}

#multas {
  border: 2px solid black;
  height: 150px;
  width: 300px;
  text-align: center;
  display: inline-block;
}
#nacionalidade {
  border: 2px solid black;
  height: 150px;
  width: 300px;
  text-align: center;
  display: inline-block;
}
